.tech-navbar{
display:flex;
background:#282A35;
color:white;
padding:10px;
gap:20px;
overflow-x:auto;
}

.tech-navbar span{
cursor:pointer;
font-weight:bold;
}

.tech-navbar span:hover{
color:#04AA6D;
}

.questions{
padding:20px;
}